<div class="row" id="pin_show">
	<div class="col-md-6 col-md-offset-3">
	  <div class="panel panel-default">
	    <div class="panel-heading pin_image">
			  <%= image_tag @pin.image.url %>
			</div>
			<div class="panel-body">
				<h1>
					<%= @pin.title %>
				</h1>
				<p>
					<%= @pin.desc %>
				</p>
			</div>
			<div class="panel-footer">
			  <div class="row">
			    <div class="col-md-5">
						<p>
							Submitted by: 
							<%= @pin.user.email %>
						</p>
					</div>
					<div class="col-md-7">
						<%= link_to like_pin_path(@pin), method: :put, class: "btn btn-success" do %>
							<div class="span glyphicon glyphicon-heart">
								<%= @pin.get_upvotes.size %>
							</div>
							<% if user_signed_in? %>
								<%= link_to "Edit", edit_pin_path, class: "btn btn-primary" %> 
								<%= link_to "Delete", pin_path, method: :delete, class: "btn btn-primary" %> 
								<%= link_to "Back", root_path, class: "btn btn-primary" %>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>